<header class="header">
    <div class="logo" routerLink="/">MyShop</div>

    <div class="search-bar">
        <input type="text" placeholder="Search..." [(ngModel)]="searchTerm" (keyup.enter)="onSearch($event)">
    </div>

    @if(authService.isLoggedIn){
        <nav class="categories">
            @for(cats of categoryList; track $index){
                <a (click)="searchCategory(cats._id!)">{{cats.name}}</a>
            }
        </nav>
    }

    <div class="profile">
        @if(authService.isAdmin){
            <a routerLink="/admin">{{authService.isUserName}}</a>
        }@else{
            <a routerLink="/profile">{{authService.isUserName}}</a>
        }
        @if(authService.isLoggedIn){
            <mat-icon class="text-red-500" routerLink="/wishlist">favorite_border</mat-icon>
            <mat-icon class="text-white" routerLink="/cart">shopping_cart</mat-icon>
            <a (click)="logout()" class="cursor-pointer ml-2" >Logout</a>
        }@else{
            <a routerLink="/login" class="cursor-pointer ml-2" >LogIn</a>
            <a routerLink="/register" class="cursor-pointer ml-2" >Register</a>
        }
    </div>

</header>