<div class="max-w-6xl mx-auto bg-white p-6 rounded-lg shadow-lg">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <div>
            <div class="flex space-x-2 mt-4">
                <img [src]="mainImage">
            </div>
        </div>
        
        <div *ngIf="product">
            <h2 >{{product.name}}</h2>
            <p class="text-lg text-gray-600 mt-2">{{product.shortDescription}}</p>
            <div class="flex gap-4">
                <span class="text-gray-400"><s>₹{{product.price}}</s></span>
                <span class="text-orange-400">{{product.discount}}% off</span>
                <span class="text-green-500 font-bold">₹{{sellingPrice}}</span>
            </div>
            <button mat-raised-button color="primary mt-4 mb-4" >Add to Cart</button>
            
            <h3 class="mt-6 text-xl font-semibold">Product Details</h3>
            <p>{{product.description}}</p>
        </div>
    </div>
    <div class="mt-8">
        <h3 class="text-2xl font-semibold">Customer Reviews</h3>
        <div class="mt-4 border-t pt-4">
            <div class="mb-4">
                <p class="font-bold">John Doe</p>
                <p class="text-yellow-500">★★★★★</p>
                <p class="text-gray-600">Great product! Highly recommend.</p>
            </div>
            <div>
                <p class="font-bold">Jane Smith</p>
                <p class="text-yellow-500">★★★★☆</p>
                <p class="text-gray-600">Good quality but a bit expensive.</p>
            </div>
        </div>
    </div>
</div>
