<div class="border-r-4 w-full shadow-lg cursor-pointer">
    <img [src]="product.images[0]" alt="Product Image" class="w-full h-52 object-cover" [routerLink]="'/products/'+product._id"/>
    <div class="p-4">
        <h6 class="mb-2" [routerLink]="'/products/'+product._id">{{ product.name }}</h6>
        <p [routerLink]="'/products/'+product._id">
            {{ product.shortDescription }}
        </p>
        <div class="flex justify-between items-center">
            <div class="flex gap-1">
                <span class="text-gray-400"><s>₹{{product.price}}</s></span>
                <span class="text-orange-400">{{product.discount}}% off</span>
                <span class="text-green-500 font-bold">₹{{sellingPrice}}</span>
            </div>
            <button mat-fab color="warn" (click)="addToWishlist(product)">
                @if(isInWishlist(product)){
                    <mat-icon class="text-red-500">favorite</mat-icon>
                }@else{
                    <mat-icon class="text-red-500">favorite_border</mat-icon>
                }
            </button>
            <button mat-fab color="primary" (click)="addToCart(product)">
                @if(isProductInCart(product._id!)){
                    <mat-icon>remove_shopping_cart</mat-icon>
                }@else{
                    <mat-icon>add_shopping_cart</mat-icon>
                }
            </button>
        </div>
    </div>
</div>