<div
    class="flex flex-col w-full h-full gap-6 transition-transform border border-gray-200 rounded-lg shadow-xl cursor-pointer hover:scale-105">
    <img [src]="product.images[0]" alt="Product Image" class="object-cover w-full rounded-t-lg h-52"
        [routerLink]="'/products/'+product._id" />

    <div class="flex flex-col flex-grow p-4">
        <h6 class="text-lg font-semibold transition-colors hover:text-blue-500" [routerLink]="'/products/'+product._id">
            {{ product.name }}
        </h6>

        <p class="flex-grow text-sm text-gray-600" [routerLink]="'/products/'+product._id">
            {{ product.shortDescription }}
        </p>

        <div class="flex items-center justify-between mt-2 text-sm font-medium">
            <span class="text-gray-400"><s>₹{{product.price}}</s></span>
            <span class="text-orange-500">{{product.discount}}% off</span>
            <span class="text-lg font-bold text-green-600">₹{{sellingPrice}}</span>
        </div>

        <div class="flex items-center justify-between pt-3 mt-auto">
            <button mat-fab color="warn" (click)="addToWishlist(product)"
                class="flex items-center justify-center w-10 h-10">
                @if(isInWishlist(product)){
                <mat-icon class="text-red-500">favorite</mat-icon>
                }@else{
                <mat-icon class="text-gray-500 transition-colors hover:text-red-500">favorite_border</mat-icon>
                }
            </button>

            <button mat-fab color="primary" (click)="addToCart(product)"
                class="flex items-center justify-center w-10 h-10">
                @if(isProductInCart(product._id!)){
                <mat-icon>remove_shopping_cart</mat-icon>
                }@else{
                <mat-icon>add_shopping_cart</mat-icon>
                }
            </button>
        </div>
    </div>
</div>