<div class="max-w-md p-6 mx-auto mt-10 bg-white rounded-lg shadow-md">
    <h2 class="mb-4 text-2xl font-semibold text-center">Sign In</h2>
    <form [formGroup]="loginForm">
        <div class="mb-4">
            <mat-form-field class="w-full">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" placeholder="Enter your email">
            </mat-form-field>
        </div>
        <div class="mb-4">
            <mat-form-field class="w-full">
                <mat-label>Password</mat-label>
                <input matInput formControlName="password" placeholder="Enter your password">
            </mat-form-field>
        </div>
        <button mat-raised-button class="w-full" (click)="login()" [disabled]="loginForm.invalid">
            Login
        </button>
    </form>
</div>